node_modules

.env
.env.local
.env*.local
.DS_Store
.cache

# Next.js build output
.next/
out/

# Vercel
.vercel/

# Runtime server log
.run/

# Turbo
.turbo/

# TypeScript
*.tsbuildinfo
next-env.d.ts
